.rentBtn {
    background-color: #3C1491;
    color: white;
    padding: 10px 20px;
    width: 200px;
}

#bikeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.card{
    margin-right: 50px;
    margin-bottom: 50px;
}

.dests{
    width: 500px;
    line-height: 2.5;
}

p{
    font-size: 20px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 225px;
    padding: 10px;  
    border: 1px solid #cecece;
}

.main{
    width: 100%;
    margin-top: 20px;
}

h3{
    font-weight: 400;
    font-size: 32px;
}

h4{
    font-weight: 300;
}

.loadBtn{
    margin: 0px 0px 50px 300px;
    background-color: #3C1491;
    color: white;
    padding: 10px 20px;
    width: 200px;
}

.inactive {
    list-style: none;
}
