 html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
}

.background{
  background: rgba(0, 0, 0, 0.5);
  height: 895px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
  width: 100vw;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  height: 61px;
  width: 100vw;
  background-color: #3C1491;
  color: #fff;
  padding: 15px 45px;
}

.dests{
  margin-left: -20px;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.mainPage{
  background: url(../images/main.png) rgba(22, 0, 69, 0.42) no-repeat center;
  width: 100vw;
  height: 895px;
  margin-top: -100px;
  background-size: cover;
}

.mainContent {
  margin: 100px 45px;
}
.mainTitle {
  font-size: 42px;
  line-height: 50px;
  color: #fff;
  font-weight: 200;
  max-width: 400px;
  padding-top: 100px;
}
.mainText {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  max-width: 765px;
  margin: 20px 0;
}

.mainLinks{
  margin-top: 15px;
}
.btnLink{
  text-decoration: none;
  margin-right: 15px;
}

.btn {
  background: #3c1491;
  border: 1px solid #3c1491;
  border-radius: 1px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 10px 20px;
  width: 185px;
  cursor: pointer;
}

.registration{
  margin: 50px 0px 100px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inp{
  width: 300px;
  height: 30px;
}

.or{
  margin-left: 20px;
  text-decoration: none;
}

.headText{
  font-size: 28px;
  font-weight: 200;
}

.login{
  margin: 50px 0px 150px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btnEnter{
  background: #3c1491;
  border: 1px solid #3c1491;
  border-radius: 1px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 9px 15px;
  width: 100px;
  cursor: pointer;
}

.requisites{
  margin: 50px 0px 150px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.errorInput {
  border: 1px solid red;
}

.tooltip {
  padding: 15px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: red;
  white-space: nowrap;
  margin-left: 10px;
  position: absolute;
  display: inline;

}

.tooltip:before {
  content: "";
  border-top: 8px solid transparent;
  border-right: 8px solid #ffffff;
  border-bottom: 8px solid transparent;
  position: absolute;
  display: inline-block;
  transform: translateX(-25px);
}
