h3{
    font-weight: 200;
    font-size: 28px;
    margin-left: 40px;
}

h4{
    font-weight: 200;
    font-size: 20px;
}

h2{
    font-weight: 300;
    font-size: 20px;
    padding-left: 20px;
}

.headReq{
    border-bottom: 1px solid gray;
    margin-left: -20px;
}

h5{
    margin: 40px 0px 0px 20px;
    font-weight: 100;
    color: gray;
}

.main{
    margin: 20px 0px 0px 20px;
}

.headers{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font: 16px;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 50px 40px;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    line-height: 1.5;
}

span{
    line-height: 2;
}
#returnBtn {
    background-color: #3C1491;
    color: white;
    padding: 10px 20px;
    width: 150px;
}

#changeBtn{
    background-color: #3C1491;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    width: 150px;
}

.requisits{
    width: 300px;
    height: 230px;
    border: 1px solid gray;
    align-items: flex-start;
    padding-left: 20px;
    margin-top: 20px;
}

img{
    border: 1px solid gray;
}

#bikesList{
    margin-right: 20px;
}