h3{
    font-weight: 200;
    font-size: 28px;
    margin-left: 40px;
}

.main{
    margin: 40px 0px 0px 20px;
    display: flex;
    flex-direction: row;
}

.card{
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    flex-direction: column;
}

