

{{> header}}
<div class="requisites">
	<h3 class="headText">Реквизиты карты</h3>
	<form id="form" method="post">
		<p><label for="number">Номер карты</label></p>
		<p><input type="text" class="inp" id="number" name="number"></p>
		<p><label for="term">Срок действия</label></p>
		<p><input type="text" class="inp" id="term" name="term"></p>
		<p><label for="cvv">CVV</label></p>
		<input type="text" class="inp" id="cvv" name="cvv">
		<p><button type="submit" class="btn">Сохранить</button></p>
	</form>
</div>
<script src="../js/card-requisites.js"></script>
{{> footer}}
