
<link href="../styles/catalog.css" rel="stylesheet">

{{> header}}
<div class="main">
    {{#pointInfo}}<h3>Каталог велосипедов по адресу {{address}}</h3>{{/pointInfo}}
    {{^pointInfo}}<h3>Каталог велосипедов</h3>{{/pointInfo}}

  <div class="content">
    <div id="bikeList">
    </div>
    <div class="dests">
      <ul>
        <p>Пункты выдачи</p>
          {{#pointersList}}
          {{#isActive}} <li class="active"><a href="/catalog/{{_id}}">{{address}}</a></li> {{/isActive}}
          {{^isActive}} <li class="inactive" ><a href="/catalog/{{_id}}">{{address}}</a></li>{{/isActive}}
          {{/pointersList}}
          {{#pointInfo}} <li class="inactive"><a href="/catalog/">Все пункты</a></li>{{/pointInfo}}
          {{^pointInfo}} <li class="active" ><a href="/catalog/">Все пункты</a></li>{{/pointInfo}}
  
      </ul>
    </div>
  </div>

  <div id="loadMore">
    <button type="button" class="loadBtn">Загрузить ещё</button>
  </div>

</div>
{{> footer}}
<script src="../js/catalog.js"></script>
<script src="../js/api.js"></script>
