{{> header}}
  <div class="mainPage">
  <div class="background">
  <div class="container">
    <div class="mainContent">
        <h1 class="mainTitle">Сервис аренды велосипедов</h1>
        <div class="mainText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo
            aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem
            nostrum laboriosam hic quas voluptas, ut!</div>
        <div class="mainLinks">
            <a href="/catalog" class="btn btnLink">Арендовать велосипед</a>
            <a href="#" class="btn btnLink">Найти пункт выдачи</a>
        </div>
    </div>
  </div>
  </div>
{{> footer}}
