<link href="../styles/lk.css" rel="stylesheet">
{{> header}}
<div class="main">
    <div class="headers">
    <h3>Личный кабинет</h3>
    <h5>login</h5>
    </div>
    <div class="content">
    <div id="bikesList">
        {{#orderList}}
        <div class="card">
        <img src="../images/{{bike.img}}" width="300px" alt="">
        <div class="info">
        <h4>{{bike.name}}</h4>
        <span>Прошло времени - {{formatTotalTime}}</span>
        <span>Стоимость - {{totalCost}} ₽</span>
        <input id="returnBtn" class="replace" type="button" value="Вернуть" data-order-id={{_id}}>
        </div>
        </div>
        {{/orderList}}
    </div>
    <div class="requisits">
        <div class="headReq">
        <h2>Реквизиты карты</h2>
        </div>
        <p>{{cardRequisites.number}}</p>
        <p>{{cardRequisites.date}}</p>
        <input id="changeBtn" type="button" value="Изменить">
    </div>
    </div>
</div>
{{> footer}}
<script src="../js/lk.js"></script>
<script src="../js/api.js"></script>

