{{> header}}
	<div class="login">
	<h3 class="headText">Вход</h3>
	<form method="post">
		<p><label for="login">Логин</label></p>
		<p><input type="text" class="inp" id="login" name="login" value="{{ login }}"></p>
		<p><label for="password">Пароль</label></p>
		<p><input type="password" class="inp" id="password" name="password"></p>

		{{#isLoginError}}
			<p>
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		<p><button class="btnEnter" type="submit">Войти</button>
		<a class="or" href="/registration">или зарегистрироваться</a></p>
	</form>
	</div>
{{> footer}}
