<link href="../styles/order.css" rel="stylesheet">
{{> header}}
<div class="main">
    <h3>Аренда велосипеда</h3>
    <div class="card">
    <img src="../images/{{bikeInfo.img}}" width="300px" alt="">
    <div class="info">
    {{bikeInfo.name}}
    <p>Чтобы забрать велосипед, введите код</p>
    {{orderCode}}
    </div>
    </div>
</div>
{{> footer}}
