{{> header}}
<div class="registration">
	<h3 class="headText">Регистрация</h3>
	<form method="post">
		<p><label for="login">Логин</label></p>
		<p><input type="text" class="inp" id="login" name="login" value="{{ login }}"></p>
		<p><label for="password1">Пароль</label></p>
		<p><input type="password" class="inp" id="password1" name="password1"></p>
		<p><label for="password2">Повторите пароль</label></p>
		<input type="password" class="inp" id="password2" name="password2">
		{{#notEqualPasswordsError}}
			<p>
				Пароли не совпадают
			</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
			<p>
				Заполните все поля
			</p>
		{{/isEmptyValuesError}}
		<p><button type="submit" class="btn">Зарегистрироваться</button>
	  <a class="or" href="/login">или войти</a></p>
	</form>
</div>
{{> footer}}
